extends layout-auth
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
           form.form-signin(method='', action='')
             h3 #[center My Account ]    
             br
             table
                tr
                    th #[center Username]
                    th #[center Full Name]
                    th #[center Email]
                tr
                    td  #[center #{username}]
                    td  #[center #{full_name}]
                    td  #[center #{email}]
             
             br
             p #[center Welcome to your account settings, from here you can change your account details using the options found below.]


             - if(message !=null){
             
             div(class='alert alert-danger' text-align='centre' style='display:block') #{message}



             - }

             - if(success !=null){
             
             //- p(style="visibility:show" id="adminSelectSuc") #{success}
             div(class='alert alert-success' text-align='centre' style='display:block') #{success}


             - }

            
           form.form-signin(method='', action='')
             a(href="/dashboard" type="button" class="btn btn-default btn-block") Open Dashboard
             a(id="showPasswordForm" type="button" class="btn btn-default btn-block") Change Password
             br
             a(href="/admin" type="button" class="btn btn-default btn-block") #[center Administrator Settings]

           form.form-signin(id="formAuthPassword" method='post', action='/change-auth-password')
             input.form-control(type='password', name='passwordchange', placeholder='New Password' required)
             input.form-control(type='password', name='confirmPasswordChange' placeholder='Confirm New Password' required)
             button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit


