extends layout-auth
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
           form.form-signin(method='', action='')
             h3 #[center My Account Settings]    
             br
             table
                tr
                    th #[center Username]
                    th #[center Full Name]
                    th #[center Email]
                tr
                    td  #[center #{username}]
                    td  #[center #{full_name}]
                    td  #[center #{email}]
             
             br
             p #[center Welcome to your Account Settings. #[br] You can change your account details using the links below.]


             - if(message !=null){
             
             div(class='alert alert-danger' text-align='centre' style='display:block') #{message}



             - }

             - if(success !=null){
             
             //- p(style="visibility:show" id="adminSelectSuc") #{success}
             div(class='alert alert-success' text-align='centre' style='display:block') #{success}


             - }

            
           form.form-signin(method='', action='')
             a(href="/dashboard" type="button" class="btn btn-default btn-block") Open Dashboard
             a(id="showPasswordForm" type="button" class="btn btn-default btn-block") Change Password

             br
             a(id="showDeleteAccModal" type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteaccmodal") Delete Account
             

           form.form-signin(id="formAuthPassword" method='post', action='/change-auth-password')
             h3 #[center Change Password]
             label(for="passwordChange") New Password
             input.form-control(type='password', name='passwordChange', placeholder='New Password' required)
             label(for="confirmPasswordChange") Confirm Password
             input.form-control(type='password', name='confirmPasswordChange' placeholder='Confirm New Password' required)
             button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit

           div(class="modal fade" tabindex="-1" role="dialog" id="deleteaccmodal")
            div(class="modal-dialog" role="document")
              div(class="modal-content")
                div(class="modal-header")
                  h4 #[center Deleting your Account]
                  button(type="button" class="close" data-dismiss="modal" aria-label="Close")

                div(class="modal-body")
                  p #[center Are you sure? This action is #[b irreversible.]]
                div(class="modal-footer")
                  a(type="button" class="btn btn-default" data-dismiss="modal") Close
                  a(href="/deleteacc" type="button" class="btn btn-danger") Delete Account


          


